/* ============================
   Global Setup
============================ */
body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background-image: url(images/image\ \(21\).png);
    color: white;
}

/* ============================
   Header
============================ */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
}

header .logo {
    font-size: 20px;
    font-weight: 600;
}

header nav a {
    margin-left: 20px;
    color: white;
    text-decoration: none;
    font-weight: 700;
    font-size: 12px;
}

/* ============================
   Hero Section
============================ */
.hero {
    position: relative;
    text-align: center;
    padding: 80px 20px;
}

.hero img {
    width: 100%;
    height: auto;
    opacity: 0.25;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.hero h1 {
    font-size: 90px;
    margin: 0;
}

.hero p {
    font-size: 10px;
    opacity: 0.9;
    font-weight: 800;
    font-style: poppins;
    word-spacing: 30px;
}

.btn-primary {
    background: #be4bdb;
    padding: 12px 26px;
    color: rgb(228, 222, 222);
    border-radius: 25px;
    text-decoration: none;
    display: inline-block;
    margin-top: 20px;
    font-weight: 600;
    box-shadow: black 0px 2px 3px ;
    font-size: 14px;
}

/* ============================
   Pros Section
============================ */
.pros {
    text-align: center;
    margin-top: 100px;
}

.pros h2 {
    margin-bottom: 40px;
    font-weight: 400;
    opacity: 0.9;
}

/* Professionals list */
.pro-list {
    display: flex;
    justify-content: center;
    
    
}

.pro-card {
    
    padding: 20px;
    width: 200px;
    text-align: center;
}

.pro-card img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.pro-card h3 {
    margin: 5px 0;
    font-size: 15px;
}

.pro-card p {
    font-size: 12px;
    opacity: 0.8;
    color: rgb(190, 196, 196);
}
strong {
    color:#a745c0;
    font-weight: 600;
}
